@{
    ViewBag.Title = "Ha Quoc Thanh";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.fullname</h3>

    <address>
        K22CNT3<br />
        Ban ve may bay<br />
        <abbr title="Phone">P:</abbr>
        0986830471
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:haquocthanhnb@example.com">haquocthanhnb@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>